.header {
	height: 100vh;
	display: flex;
	position: relative;
	align-items: center;
	background-size: cover;
	justify-content: space-between;
}

.bannerImage {
	inset: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}

.overlay {
	inset: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
}

.title {
	color: var(--white);
}

.slogan {
	color: var(--white);
	letter-spacing: 1.1px;
	text-transform: capitalize;
}

.btn {
	color: var(--white);
	font-size: 14px;
	font-weight: normal;
	line-height: 14px;
	padding: 15px 40px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	background-color: transparent;
	border: 2px solid var(--white);
	transition: all 0.3s ease-in-out;
}

.btn:hover {
	background-color: var(--white);
	color: var(--darker);
}

/* @media (max-width: 575.98px) {
	.header {
		justify-content: center;
		text-align: center;
	}

	.caption {
		width: 100%;
		margin-bottom: 28px;
	}
} */

@media (max-width: 767.98px) {
	.header {
		text-align: center;
		justify-content: center;
	}

	.caption {
		width: 100%;
		margin-bottom: 48px;
	}
}
