.menu_btn {
  width: 60px;
  z-index: 11;
  height: 55px;
  display: none;
  cursor: pointer;
  position: relative;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.menu_btn__burger {
  width: 35px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu_btn__burger::before,
.menu_btn__burger::after {
  content: "";
  width: 44px;
  height: 4px;
  position: absolute;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu_btn__burger::before {
  transform: translateY(-14px);
}

.menu_btn__burger::after {
  transform: translateY(14px);
}

/* ANIMATION */
.open .menu_btn__burger {
  box-shadow: none;
  background: transparent;
  transform: translateX(-50px);
}

.open .menu_btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.open .menu_btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.active {
  background: var(--darker);
}

.active::before,
.active::after {
  background: var(--darker);
}

@media (max-width: 768px) {
  .menu_btn {
    display: flex;
  }
}
