.title {
	font-size: 27px;
	color: #272727;
	margin-bottom: 18px;
	font-style: normal;
}

.description {
	color: #727272;
	font-style: normal;
	font-weight: normal;
}

.contactForm {
	padding: 30px;
	background: var(--white);
}

.submit {
	outline: none;
	font-size: 14px;
	font-weight: 500;
	padding: 14px 20px;
	border-radius: 3px;
	color: var(--white);
	background: #fccb06;
	text-transform: capitalize;
	border: 1px solid #fccb06;
}
