.navItem {
	color: var(--white);
	margin-right: 16px;
}

.navItem:last-child {
	margin-right: 0;
}

.navItem a {
	color: var(--white);
	transition: color 0.3s ease-in-out;
}

.navItem a:hover {
	color: var(--darker);
}

@media (max-width: 575.98px) {
	.navItem {
		margin-block: 16px;
	}

	.navItem a {
		color: var(--dark);
		transition: color 0.3s ease-in-out;
	}
}
