.dropdown {
	width: 100%;
	margin: auto;
	margin-block: 16px;
	text-align: center;
}

.dropdown__link {
	padding: 0;
	width: 90%;
	outline: none;
	color: var(--dark);
	padding-block: 10px;
	text-align: center;
	margin-inline: auto;
	border: 1px solid#ddd;
	background-color: var(--white);
}

.dropdown__menu {
	margin: 0;
	padding: 0;
	width: 90%;
	margin: auto;
	list-style: none;
	overflow: hidden;
	border: 1px solid #ddd;
	border-top: none;
	background: var(--white);
}

.dropdown__item {
	padding: 4px 12px;
	border-radius: 4px;
	color: var(--dark);
	transition: all 0.3s ease-in-out;
}

.dropdown__item a {
	width: 100%;
	display: block;
	color: var(--dark);
	padding-block: 8px;
	transition: color 0.3s ease-in-out;
}

.dropdown__item:hover {
	background: var(--dark);
}

.dropdown__item a:hover {
	color: var(--white);
}
