.drawer {
	top: 0;
	left: 0;
	bottom: 0;
	width: 70%;
	opacity: 1;
	z-index: 19;
	height: 100vh;
	padding: 32px;
	overflow: auto;
	position: fixed;
	transform: translate(0, 0);
	transition: all 0.4s ease-in;
	box-shadow: 2px 2px 4px #00000040;
	background: #ffffff 0% 0% no-repeat padding-box;
}

.open {
	transform: translateX(0);
}

.close {
	transform: translateX(-100%);
}

.drawer::-webkit-scrollbar {
	width: 6px;
}

.drawer::-webkit-scrollbar-track {
	width: 6px;
	border: 6px solid #d9d9d9;
}

.drawer::-webkit-scrollbar-thumb {
	width: 6px;
	border: 6px solid #000;
	border-radius: 15px;
}

@media (max-width: 575.98px) {
	.drawer {
		padding: 20px 15px;
	}
}

.header {
	display: flex;
	margin-bottom: 16px;
	align-items: flex-start;
	justify-content: space-between;
}

.header button {
	border: none;
	outline: none;
	background: transparent;
	padding-right: 0;
}

@media (max-width: 575.98px) {
	.header button {
		position: absolute;
		right: 16px;
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.brand {
	font-size: 22px;
	font-weight: bold;
}

.navList {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
