.businessCard {
	height: 370px;
	overflow: hidden;
	position: relative;
	border-radius: 10px;
	box-shadow: 20px 20px 20px rgb(0 0 0 / 3%);
	filter: grayscale(100%);

}

.image {
	inset: 0;
	z-index: 1;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
	position: absolute;
	transition: all 0.3s ease-in-out;
}

.overlay {
	inset: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	padding: 35px;
	overflow: hidden;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
}

.title {
	color: var(--yellow);
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 14px;
	font-style: normal;
	text-transform: capitalize;
}

.subTitle {
	font-size: 35px;
	line-height: 35px;
	margin-bottom: 20px;
	color: var(--white);
	font-style: normal;
	text-transform: capitalize;
}

.readMore {
	z-index: 3;
	top: 450px;
	left: 35px;
	border: none;
	outline: none;
	padding: 10px 30px;
	border-radius: 5px;
	color: var(--white);
	position: absolute;
	text-transform: uppercase;
	background-color: var(--dark);
	transition: all 0.3s ease-in-out;
}

.readMore:hover {
	color: var(--dark);
	background-color: var(--white);
}

.businessCard:hover {
	filter: grayscale(0%);
}

.businessCard:hover .image {
	transform: scale(1.2);
	filter: grayscale(0%);
}

.businessCard:hover .readMore {
	top: 200px;
}

@media (max-width: 575.98px) {
	.businessCard {
		margin-bottom: 24px;
	}
}
