.dropdown {
	position: relative;
	margin-right: 16px;
}

.dropdown__link {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	color: #fff;
	background: transparent;
}

.dropdown__menu {
	margin: 0;
	padding: 0;
	top: 30px;
	width: 150px;
	list-style: none;
	overflow: hidden;
	border-radius: 4px;
	position: absolute;
	border: 1px solid #ddd;
	background: var(--white);
	box-shadow: 0px 2px 6px #000;
}

.dropdown__item {
	padding: 4px 12px;
	border-radius: 4px;
	color: var(--dark);
	transition: all 0.3s ease-in-out;
}

.dropdown__item a {
	color: var(--dark);
	padding: 4px 12px;
	transition: all 0.3s ease-in-out;
}

.dropdown__item:hover {
	color: var(--white);
	background: var(--dark);
}

.dropdown__item a:hover {
	color: var(--white);
	background: var(--dark);
}
