.successfulBusiness {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #000000;
}

.successfulBusiness h2 {
	padding-top: 40px;
	color: var(--white);
	position: relative;
}

.successfulBusiness h2::after {
	bottom: -20px;
	left: 50%;
	content: "";
	width: 80px;
	height: 3px;
	display: block;
	position: absolute;
	background: var(--yellow);
	transform: translate(-50%, -50%);
}
