@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");

:root {
	--grey: #727272;
	--dark: #101010;
	--white: #ffffff;
	--darker: #242424;
	--yellow: #fccb06;
	--mdDark: #161616;
}

html,
body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-family: "Aldrich", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
}
